.game {
    display: flex;
}

.col {
}

.item {
    font-size: 30px;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: gray;
    margin: .25em;
    text-indent: -99999px;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}
