.game {
    display: flex;
}

.col {
}

.item {
    font-size: 30px;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: gray;
    margin: .25em;
    text-indent: -99999px;
}

$red: #f00;
$yellow: #ff0;

.red {
    background: $red;
}

.yellow {
    background: $yellow;
}

.yellow.winner {
    animation: pulse-yellow 2s infinite;
}

.red.winner {
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
  0% {
      box-shadow: 0 0 0 0 rgba($red, 1);
  }
  70% {
       box-shadow: 0 0 0 10px rgba($red, 0);
  }
  100% {
       box-shadow: 0 0 0 0 rgba($red, 0);
  }
}

@keyframes pulse-yellow {
  0% {
      box-shadow: 0 0 0 0 rgba($yellow, 1);
  }
  70% {
      box-shadow: 0 0 0 10px rgba($yellow, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba($yellow, 0);
  }
}
