label {
    font-size: 15px;
    padding-right: 1em;
}

button {
    background: none;
    color: #fff;
    border: 1px solid #fff;
    margin: 0 1em;
}

button:disabled {
    color: #666;
    border-color: #666;
}
